.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-checkbox {
  width: 90%;
  margin: 0 auto;
}

.checkbox-label {
  margin-right: 10px;
}

.checkbox-button {
  margin-right: 5px;
}

table {
  margin: 0 auto;
}

.table-row {
  border: 1px solid black;
}

th {
  border: 1px solid black;
  margin: 0 auto;
  background-color: lightgray;
}

td {
  border: 1px solid black;
  margin: 0 auto;
}

.year-column {
  background-color: lightgray;
}